body{
    height: 100%;
    min-height: 100vh;
    position: relative;
}

header,
footer,
.container{
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header{
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}

footer{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    background-color: black;
    padding: 30px 20px 30px;
}

p{
    font: 20px/20px 'serif';
}

a{
    font: normal normal 16px/16px 'vonique64', 'sans-serif';
}
a:link {
    color: #000;
}
a:visited {
    color: rgba(136, 139, 142, 0.28);
}
a:hover {
    color: rgba(0, 0, 0, 0.35);
}
a:active {
    color: rgba(25, 26, 27, 0.28);
}


h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

h1{
    font: normal bold 30px/30px 'vonique64', 'sans-serif';
}

h2,
h2 a{
    font: normal bold 22px/22px 'vonique64', 'sans-serif';
}

footer .name{
    font: normal normal 23px/23px 'vonique64', 'sans-serif';
    margin: 0;
}

footer .name .year{
    font: normal normal 15px/15px 'vonique64', 'sans-serif';
    margin: 0;
}

.container{
    max-width: 800px;
    margin-bottom: 80px;
}

.options li:last-child:after
.img-container .img-wrapper:last-child:after {
    content: '';
    clear: both;
}

.img-wrapper{
    width: 50%;
    padding: 2%;
    overflow: hidden;
    box-sizing: border-box;
    display: inline;
    float: left;
}

.img-wrapper .desc{
    text-align: center;
    padding: 5px;
}

.img-wrapper .img{
    max-height: 250px;
    overflow: hidden;
    display: block;
    width: 100%;
}

.img-wrapper img{
    width: 100%;
}

@media only screen
and (max-width : 550px) {
    .img-wrapper{
        width: 100%;
    }
}

.icons{
    color: #fff;
    float: right;
}

.icons a,
.icons i{
    font-size: 23px;
    line-height: 23px;
    color: white;
}

.options li{
    float: left;
    margin-right: 10px;
    list-style: none;
}
.options .fa{
    margin-right: 10px;
}